.w-100 {
	width: 100%;
}
.form-banner-fixed {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #0202025c;
	z-index: 9999;
	text-align: center;
}
.form-banner-fixed form {
	align-content: center;
	width: 100%;
	margin-top: 60px;
    display: block;
}
.table-view tr td:first-child {
  color: white;
  background-color: #343a40;
}

.wrap-banner {
	padding: 15px 3px;
	background-color: #fff;
	border: none;
	border-radius: 10px;
}
.d-none {
	display: none;
}